%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  - if user_signed_in?
    %span.navbar-brand.mb-0.h1
      %a.nav-brand
        = current_user.email
        %a(href = "/users/sign_out" data-method = "delete")  
          Sair
          %i.material-icons.md-36 exit_to_app
          
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto.nav-fill 
      %li.nav-item
        %a.nav-link{:href => "/"}
          Página inicial
          %i.material-icons home
      %li.nav-item
        %a.nav-link{:href => "/posts/new"} 
          Nova postagem
          %i.material-icons post_add
      %li.nav-item
        %a.nav-link{:href => "/users/edit"} 
          Meu perfil
          %i.material-icons supervised_user_circle
          
         

