%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %nav.navbar.navbar-light.bg-light
  %span.navbar-brand.mb-0.h1
    - if user_signed_in?
      Logado como:
      = current_user.email
      = current_user.id
      %span.navbar-brand.mb-0.h1
        %a.nav-link
          = link_to 'Sair', destroy_user_session_path, method: :delete
          
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link{:href => "/"}
          Página inicial
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => "/posts/new"} Nova postagem
      %li.nav-item
        %a.nav-link{:href => "/users/edit"} Meu perfil
          
         

